# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache
.python-version

# IDE
.idea
.vscode
*.swp
*.swo
.DS_Store

# Project specific
.dockerignore
Dockerfile
docker-compose.yml
README.md
logs/
*.log
tests/
docs/